<div class="Recipe list">
  	<h2> BE A COOK</h2><br /><br />

     <%= link_to("Show me the recipes","/recipes/list") %><br /><br />

     <%= link_to("Show me all the ingredients","/ingredients/list") %><br /><br />

     <%= link_to("Show me mapping between recipes and ingredients","/recipe_ingredients/list") %><br /><br />

      <%= link_to("Give the ingredients","/recipes/give") %>
</div>      