<%= link_to("<<Back to all ingredients","/ingredients/list")%>
<div class="Ingredients show">
	<h2>Edit ingredients </h2>

  <%= form_for @ingredients do |i| %>

	  <tr>
	  	<th>Name</th>
	  	<td><%= i.text_field(:Name) %></td>
	  </tr>	

	  <tr>
	  	<td><%= i.submit("Update ingredient") %></td>
	  </tr>	

	</table>  

<% end %>
</div>