<%= link_to("<<Back to all Ingredients","/ingredients/list")%>
<div class="Ingredients show">
	<h2>Show recipe </h2>

	<table summary="Ingredients detail view">

	  <tr>
	  	<th>Ingredient id</th>
	  	<td><%= @ingredients.id %></td>
	  </tr>	

	  <tr>
	  	<th>Name</th>
	  	<td><%= @ingredients.Name %></td>
	  </tr>	

	</table>  
</div>
